.headerSection {
  position: relative;
  transition: all 1s ease-in-out;
}

.isSticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(-50%);
  animation: slideDown 1s forwards;
}

@keyframes slideDown {
  to {
    transform: translateY(0);
  }
}
