@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  transition: none;
  /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow-x: hidden;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
