@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply transition-all;

  /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

@layer utilities {
  .first-letter-box::first-letter {
    padding: 0.1em 0.2em;
    margin-right: 0.1em;
    display: inline-block;
    animation: flicker 1.2s ease-in-out infinite;
    @apply bg-primary text-primary-foreground text-4xl;
  }
}
