@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #a1a1aa #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a1a1aa;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

@layer utilities {
  .first-letter-box::first-letter {
    padding: 0.1em 0.2em;
    margin-right: 0.1em;
    display: inline-block;
    animation: flicker 1.2s ease-in-out infinite;
    @apply bg-primary text-primary-foreground text-4xl;
  }
}
